.grid {

    width: var(--gsize);
    height: var(--gsize);

    aspect-ratio: 1;

    background: var(--second-color);
    display: flex;
    flex-wrap: wrap;
    border-radius: var(--radius);
    outline: 5px solid var(--accent-color);

    overflow: hidden;

    font-family: "Inter";
    font-weight: 500;
    color: var(--fore-color);

    animation: var(--mid-animation-timeout) appear ease-in-out;

}

.p_cell {

    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1;
    overflow: hidden;

    font-size: calc(var(--size)*2);

    width: var(--csize);
    height: var(--csize);

    outline: 1px solid var(--light);
}


.grid_wrapper {
    --size: calc(calc(1vw + 1vh)/2);
    --gsize: calc(var(--size)*40) ;
    --csize: calc(var(--gsize)/9);

    position: relative;
}

.selection, .p_cell {
    transition: var(--fast-animation-timeout) ease-in-out;
}

.selection {


    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1;

    font-size: calc(var(--size)*2);

    min-width: var(--csize);
    min-height: var(--csize);

    outline: calc(var(--size)/4) solid var(--accent-color);
    border-radius: calc(var(--radius)/4);
}

.p_cell.same {
    font-weight: 999;

}

.p_cell.same:not(.path__error) {
    background: var(--third-color);
}
.p_cell.same.path__error {
    background: rgba(175, 118, 118, 0.49) !important;
}

.path__error {
    background: rgba(175, 118, 118, 0.29) !important;

}


.error {

    color: crimson;
}




.p_cell.path {
    background: var(--system-color);
}


.p_cell:nth-child(3n+1):not(:nth-child(9n+1)) {

    border-left: calc(var(--size)/4) solid var(--accent-color);

}

.p_cell:nth-child(27n):not(:nth-child(81n)) {
    border-bottom: calc(var(--size)/4) solid var(--accent-color);
}

.p_cell:nth-child(27n-1):not(:nth-child(80n)) {
    border-bottom: calc(var(--size)/4) solid var(--accent-color);

}
.p_cell:nth-child(27n-2):not(:nth-child(79n)) {
    border-bottom: calc(var(--size)/4) solid var(--accent-color);

}
.p_cell:nth-child(27n-3):not(:nth-child(78n)) {
    border-bottom: calc(var(--size)/4) solid var(--accent-color);

}
.p_cell:nth-child(27n-4):not(:nth-child(77n)) {
    border-bottom: calc(var(--size)/4) solid var(--accent-color);

}
.p_cell:nth-child(27n-5):not(:nth-child(76n)) {
    border-bottom: calc(var(--size)/4) solid var(--accent-color);

}
.p_cell:nth-child(27n-6):not(:nth-child(75n)) {
    border-bottom: calc(var(--size)/4) solid var(--accent-color);

}
.p_cell:nth-child(27n-7):not(:nth-child(74n)) {
    border-bottom: calc(var(--size)/4) solid var(--accent-color);

}
.p_cell:nth-child(27n-8):not(:nth-child(73n)) {
    border-bottom: calc(var(--size)/4) solid var(--accent-color);

}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}